package {{.PackageName}}
import (
{{- range $key,$value := .Importor_need }}
{{- if $value.IsIndent }}
    {{ $value.Name }} "{{ $value.Path }}"
{{- else }}
    "{{ $value.Path }}"
{{- end }}
{{- end }}
{{- range $index,$value := .Importor_extra }}
{{- if $value.IsIndent }}
    {{ $value.Name }} "{{ $value.Path }}"
{{- else }}
    "{{ $value.Path }}"
{{- end }}
{{- end }}
)


{{- range .Funcs }}
{{- range $index,$value := .Comments}}
{{ $value }}
{{- end }}
func {{.NameFunc}}({{range $index, $param := .In}}{{if $index}}, {{end}}{{.Name}} {{.Type}}{{end}}){{if .Return}}({{range $index, $return := .Return}}{{if $index}}, {{end}}{{.Name}} {{.Type}}{{end}}){{end}} {
{{- if .Contents}}
{{- range $index, $line := .Content}}
{{ $line }}
{{- end}}
{{- else}}
{{- if .CallOptionVar}}
{{- .CallOptionVar }}
{{- end}}

{{- if .IsAsync }}
{{- if .Out}}
{{- range $index, $return := .Out}}
{{- if ne  .Name  "err" }}
var {{.Name}} {{.Type}}
{{- end}}
{{- end}}
{{- end}}
{{- end }}
{{- if .Out }}
{{- range $index, $return := .Out}}
{{- if .Type_elem_init }}
{{ .Type_elem_init}}
{{- end}}
{{- end}}
{{- end}}
{{- if .IsAsync}}
call =  {{.Client}}.Go({{.Server}}, "{{.Module}}.{{.Name}}", {{.CallReqName}}, {{.CallRetName}}, {{.CallOptionName}})
{{- else}}
err =  {{.Client}}.Call({{.Server}}, "{{.Module}}.{{.Name}}", {{.CallReqName}}, {{.CallRetName}}, {{.CallOptionName}})
{{- end}}
{{- end}}
return
}

{{ end }}

